/* ---------------------------------- */
/*               Height               */
/* ---------------------------------- */
.h-auto {
  height: auto;
}

.h-100 {
  height: 100%;
}

.vh-section {
  min-height: 100vh;
}
@media (min-width: 992px) {
  .vh-section {
    min-height: 75vh;
  }
}
/* ---------------------------------- */
/*                Width               */
/* ---------------------------------- */
.w-100 {
  width: 100%;
}
/* ---------------------------------- */
/*              Max Width             */
/* ---------------------------------- */
.max-width {
  width: 100%;
  max-width: 320px;
}

@media (min-width: 576px) {
  .max-width {
    max-width: 90%;
  }
}
@media (min-width: 1200px) {
  .max-width {
    max-width: 860px;
  }
}
