/* ---------------------------------- */
/*                 Gap                */
/* ---------------------------------- */
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-40 {
  gap: 40px;
}
/* ---------------------------------- */
/*             Align Self             */
/* ---------------------------------- */
.self-center {
  align-self: center;
}
/* ---------------------------------- */
/*               Display              */
/* ---------------------------------- */
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
/* ---------------------------------- */
/*                Wrap                */
/* ---------------------------------- */
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap {
  flex-wrap: wrap;
}
/* ---------------------------------- */
/*           Justify content          */
/* ---------------------------------- */
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
/* ---------------------------------- */
/*            Align Content           */
/* ---------------------------------- */
.align-items-center {
  align-content: center;
}
/* ---------------------------------- */
/*              Direction             */
/* ---------------------------------- */
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}

@media (min-width: 576px) {
  .flex-sm-row {
    flex-direction: row;
  }
  .flex-sm-col {
    flex-direction: column;
  }
  .flex-sm-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-sm-col-reverse {
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row;
  }
  .flex-md-col {
    flex-direction: column;
  }
  .flex-md-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-md-col-reverse {
    flex-direction: column-reverse;
  }
}

@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row;
  }
  .flex-lg-col {
    flex-direction: column;
  }
  .flex-lg-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-lg-col-reverse {
    flex-direction: column-reverse;
  }
}

@media (min-width: 1200px) {
  .flex-xlg-row {
    flex-direction: row;
  }
  .flex-xlg-col {
    flex-direction: column;
  }
  .flex-xlg-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-xlg-col-reverse {
    flex-direction: column-reverse;
  }
}

/* ---------------------------------- */
/*                Flex                */
/* ---------------------------------- */
@media (min-width: 576px) {
  .flex-sm-1 {
    flex: 1;
  }
  .flex-sm-2 {
    flex: 2;
  }
  .flex-sm-3 {
    flex: 3;
  }
  .flex-sm-4 {
    flex: 4;
  }
}

@media (min-width: 768px) {
  .flex-md-1 {
    flex: 1;
  }
  .flex-md-2 {
    flex: 2;
  }
  .flex-md-3 {
    flex: 3;
  }
  .flex-md-4 {
    flex: 4;
  }
}

@media (min-width: 992px) {
  .flex-lg-1 {
    flex: 1;
  }
  .flex-lg-2 {
    flex: 2;
  }
  .flex-lg-3 {
    flex: 3;
  }
  .flex-lg-4 {
    flex: 4;
  }
}

@media (min-width: 1200px) {
  .flex-xlg-1 {
    flex: 1;
  }
  .flex-xlg-2 {
    flex: 2;
  }
  .flex-xlg-3 {
    flex: 3;
  }
  .flex-xlg-4 {
    flex: 4;
  }
}
