/* ---------------------------------- */
/*     HTML Default CSS overriding    */
/* ---------------------------------- */
ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  font-weight: unset;
}

* {
  box-sizing: border-box;
}

summary {
  list-style-type: none;
}

summary::-webkit-details-marker {
  display: none;
}
